
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Album Results</title>

</head>
<body style="background-color: {{palette}}">

<p>Album Results</p>
<p><b>Artist:</b> {{name}}</h2>

    <p>
        <h4>Albums</h4> {%for s in album_names %}
        <li>{{s[0]}}</li>
        {% endfor %}
        </p> 


     {% if warning == 0 %}   
            {{plot_div | safe}}
    {% endif %}


    {% if warning == 1 %}   
            <p>Pitchfork does not support this artist, sadly. Try again.</p>
    {% endif %}


</body>