<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Extended Mind</title>
</head>
<body>

    <form action="/handle_form" method="POST">
        <h1>Extended Mind</h1>
        <p>
            What is your artist pick? <input name="name" type="text"/><br/><br/><br/>
        
            Pick A Place:
            <select name="colors">
                <option value="green">Desert</option>
                <option value="blue">Valley</option>
                <option value="red">Lake</option>
            </select>

        </p>
<br>

        <h2>Alfred Gell’s anthropological theory in Art and Agency leaves a<br>
            lasting impression of the considerations given for qualities and<br>
            indices that exist in a lifetime of creative work, the limits of <br>
            ow an artists’ works are viewed as objects and the role of time <br>
            in the distribution of these art objects. With consideration of <br>
            analytical cubism from sources like Husserl’s The Anthropology <br>
            of Time and through explicit examples like Marcel Duschamp’s <br>
            time-related piece, The Network of Stoppages, Gell builds graphs<br>
            and webs of interconnected ‘creation points’ to counter the <br>
            traditional linear application of time to creation and <br>
            artist’s oeuvre.</h2>


<br>
            <p>Try. . . .</p>


        <p>Radiohead | Deafheaven | Chairlift | Nine Inch Nails</p>



        <input type="submit" value="Submit Form"/>
    </form>
</body>
</html>