<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Extended Mind</title>
</head>
<body>

    <form action="/handle_form" method="POST">
        <p>
            What is your artist pick? <input name="name" type="text"/><br/><br/><br/>
            What's your secret? <input name="secret" type="password"/><br/><br/>
        </p>
        
        <p>
            What's your fave color?
            <select name="colors">
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="red">Red</option>
            </select>

        </p>

        <input type="submit" value="Submit Form"/>
    </form>
</body>
</html>