<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Extended Mind</title>
</head>
<body>

    <form action="/handle_form" method="POST">
        <h1>Extended Mind</h1>
        <p>
            What is your artist pick? <input name="name" type="text"/><br/><br/><br/>
        
            Pick A Place:
            <select name="colors">
                <option value="desert">Desert</option>
                <option value="valley">Valley</option>
                <option value="lake">Lake</option>
            </select>

            <p>
                What type of info would you like to see?<br>
                <input type="radio" name="choices" value="Album">Album Visual<br/>
                <input type="radio" name="choices" value="Artist">Artist Info<br/>
                <input type="radio" name="choices" value="Review">Review Info<br/>
                <input type="radio" name="choices" value="All">All of It<br/>
            </p>

        </p>
        <br>


        <input type="submit" value="Submit Form"/>
    </form>
<br>

        <h2>Alfred Gell’s anthropological theory in Art and Agency leaves a<br>
            lasting impression of the considerations given for qualities and<br>
            indices that exist in a lifetime of creative work, the limits of <br>
            ow an artists’ works are viewed as objects and the role of time <br>
            in the distribution of these art objects. With consideration of <br>
            analytical cubism from sources like Husserl’s The Anthropology <br>
            of Time and through explicit examples like Marcel Duschamp’s <br>
            time-related piece, The Network of Stoppages, Gell builds graphs<br>
            and webs of interconnected ‘creation points’ to counter the <br>
            traditional linear application of time to creation and <br>
            artist’s oeuvre.</h2>


<br>
           
Most Popular Search: {{high}}<br>
       Try: Radiohead | Deafheaven | Chairlift | King Princess</p>



</body>
</html>