  
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF8"/>
    <title>Response Results</title>
</head>
<body>
    <h1>{{name}}</h1>



{% if make_graph != 0 %}
    <h3>Here are your results!</h3>
    <h3>Genre:</h3> <p>{{genre}}</p>
    <table>
        <tr>
            <th>Similar Artists</th>
            <th>{{sort}}</th>
        </tr>
        {% for row in similar_artists[0:-2] %}
        <tr>
            <td>{{row}}</td>
        </tr>
        {% endfor %}
{% endif %}
    </table>

{% if make_graph != 0 %}}
    <h3>{{name}}'s album ratings</h3>
    {{plot_div | safe}}
    <i>(I hope you liked it)</i>

{% endif %}

Top Tacks! 
{% for track in top_tracks %}
<ul>{{track}}</ul>
{% endfor %}


</body>
</html>


